header {
    background-color: green;
}

button {
    margin: 5px;
}

img {
    width: 80%;

    margin: 10px;
    border-radius: 5%;
    border: 3px solid black;
    box-shadow: 2px 2px 7px 1px gray;
}

#clear {
    clear: both;
}